.footer{
    background: black;
    padding-top: 55px;
    display: flex;
    justify-content: center;

    .footer-content{

        .footer-img{
            width: 100%;
            text-align: center;
            margin-bottom: 10%;

            img{
                max-width: 100%;
                height: auto;
            }
        }

        .footer-menu ul li{
            display: inline;
            margin: 0 35px;
            list-style: none;
            font-size: 14px;
            margin-bottom: 10%;

            @media screen and (max-width: 600px){
                display: block;
                text-align: center;
            }

            &:hover a{
                border-bottom: 1px solid lightgrey;
            }

        }

        .menu-item a{
            color: lightgrey;
            text-decoration: none;
        }

        .footer-icons{
            color: grey;
            display: flex;
            justify-content: center;

            a{
                text-decoration: none;
                color: lightgrey;

                .icon{
                    margin: 50px 15px 100px;
                    font-size: 20px;
                    transition: 1s;

                    &:hover{
                        transform: scale(1.5);
                        transform: rotate(360deg);
                    }

                }

                .fa-facebook-square:hover{
                    color: #3b5998;
                }

                .fa-linkedin-in:hover{
                    color: #2867B2;
                }

                .fa-instagram:hover{
                    color:  #405DE6
                }

            }
        }
    }
}

.cookie{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: fixed;
    bottom: 0;
    padding: 0 20px;
    z-index: 9999;

    @media screen and (max-width: 600px){
        flex-direction: column;
        padding: 10px 20px;
        height: auto;
        text-align: center;
    }

    small{
        font-size: 11px;

        @media screen and (max-width: 600px){
            font-size: 10px;
        }
    }

    button{
        padding: 10px 40px;
        background: black;
        color: white;
        margin-left: 25px;
        font-size: 10px;

        &:hover{
            cursor: pointer;
        }

        @media screen and (max-width: 600px){
            padding: 5px 20px;
            font-size: 8px;
            margin: 10px;
        }
    }

}
