*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gotham", sans-serif;
}

header, main,{
    width: 100vw;

    >.container{
        width: 100%;
    }
}

// @mixin display-flex{
//     display: -webkit-flex;
//     display: -ms-flex;
//     display: flex;
// }
