.tab{
    padding: 75px 10%;
    background-color: lightgrey;
    display: flex;
    margin-top: -5px;
    position: relative;
    z-index: 100;

    @media screen and (max-width: 775px){
        padding: 75px 3%;
    }

    @media screen and (max-width: 775px){
        flex-direction: column;
    }

    @media screen and (max-width: 440px){
        padding: 0;
    }

    .tab-title{
        width: 35%;

        @media screen and (max-width: 600px){
            width: 100%;
            justify-content: center;
        }

        @media screen and (max-width: 440px){
            width: 100%;
        }

        .tab-name{
            width: 100%;
            padding: 7% 15%;
            background: rgba(grey, 0.4);
            margin-bottom: 2px;

            p{
                @media screen and (max-width: 1024px){
                    font-size: 12px;
                }
            }

            &.active{
                background: grey;
                color: lightgrey;

                .fa-angle-up{
                    transform: rotate(180deg);
                }
            }

            .fa-angle-down{
                display: none;
            }
        }
    }

    .tab-text{
        width: 65%;
        background: white;
        padding: 4% 8%;
        overflow-y: auto;

        @media screen and (max-width: 600px){
            width: 100%;
        }


        p{
            font-size: 14px;
            line-height: 1.5;

            @media screen and (max-width: 1024px){
                font-size: 12px;
            }
        }
    }
}
